# Scraping and Clearning NBA dataset

In [3]:
# important imports for data processing
import numpy as np
import pandas as pd

# imports for Web Scraping
from bs4 import BeautifulSoup  # HTML data structure
from urllib.request import urlopen  # Web client

pd.set_option('display.max_columns', None)

## Web Scraping and Data Processing

In [4]:
year = 2020
page_url = "https://www.basketball-reference.com/leagues/NBA_"+str(year)+"_totals.html"

# opens the connection and downloads html page from url
uClient = urlopen(page_url)

# parses html into a soup data structure to traverse html as if it were a json data type.
page_soup = BeautifulSoup(uClient.read(), "html.parser")
uClient.close()

In [5]:
# use findALL() to get the column headers
headerRowHTML = page_soup.findAll('tr', limit=2)

Based on the output below, the 'tr' tag contains the 'th' tag where the name of each column is stored. We're looking at the [0] index because the 'tr' tag applies to every row, not just the header row

In [6]:
# use getText()to extract the text we need into a list
headers = [th.getText() for th in page_soup.findAll('tr', limit=2)[0].findAll('th')]

# exclude the first column as we will not need the ranking order from Basketball Reference for the analysis
headers = headers[1:]

Now we're going to run the previous code for every row on the data table (excluding the first which we have as the header already)

In [7]:
playerRowHTML = page_soup.findAll('tr')[1:]

playerRows = [ [val.getText() for val in playerRowHTML[i].findAll('td')] for i in range(len(playerRowHTML)) ]

In [8]:

basketballDataRaw = pd.DataFrame(playerRows, columns=headers)
basketballDataRaw.describe()

namesBefore = [x for x in basketballDataRaw['Player']]

basketballData = basketballDataRaw
basketballData.describe()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624
unique,514,9,22,31,66,65,509,283,390,268,148,265,204,242,340,256,259,189,218,260,124,266,299,222,93,82,152,182,445
top,Anthony Tolliver,SG,24,TOT,63,0,15,0,7,.000,0,0,.000,0,2,.000,.000,0,0,,0,0,1,0,0,0,0,0,0
freq,4,162,79,54,23,199,5,24,10,19,98,35,63,32,16,20,19,46,40,40,55,16,14,28,50,70,37,20,18

## Cleaning Data (dropping null values, fixing values, etc)

But, we still have to check for missing values and cast number

In [9]:
categoricalVals = ['Player', 'Pos', 'Tm']
allVals = headers
numericalVals = list(set(allVals) - set(categoricalVals))

print(numericalVals)

for val in numericalVals:
    basketballData[val] = pd.to_numeric(basketballData[val], downcast='float')

['PF', 'FGA', '3PA', 'G', 'Age', 'FG', 'PTS', '3P%', 'DRB', 'FT', 'eFG%', 'STL', 'FG%', 'ORB', 'MP', '2P%', 'TOV', '2PA', 'GS', '2P', 'BLK', '3P', 'FTA', 'TRB', 'AST', 'FT%']

In [10]:
keepPercents = [x for x in headers if '%' in x]
drops = list(set(headers) - set(keepPercents))
print(drops)

['PF', 'FGA', 'Player', '3PA', 'Tm', 'G', 'Age', 'FG', 'PTS', 'DRB', 'FT', 'STL', 'ORB', 'MP', 'TOV', '2PA', 'GS', '2P', 'Pos', 'BLK', '3P', 'FTA', 'TRB', 'AST']

In [11]:
# given the null values present, we must get rid of them (remember earlier function from module 1)

def assess_NA(data):
    # pandas series denoting features and the sum of their null values
    null_sum = data.isnull().sum()# instantiate columns for missing data
    total = null_sum.sort_values(ascending=False)
    percent = ( ((null_sum / len(data.index))*100).round(2) ).sort_values(ascending=False)

    #concatenate along the columns to create the complete dataframe
    df_NA = pd.concat([total, percent], axis=1, keys=['Number of NA', 'Percent NA'])
    
    return df_NA

print(assess_NA(basketballData))

basketballData.dropna(axis=0, how='any', thresh=None, subset=drops, inplace=True)

        Number of NA  Percent NA
FT%               65       10.02
3P%               60        9.24
2P%               37        5.70
FG%               30        4.62
eFG%              30        4.62
PTS               25        3.85
Pos               25        3.85
Age               25        3.85
Tm                25        3.85
G                 25        3.85
GS                25        3.85
MP                25        3.85
FG                25        3.85
FGA               25        3.85
3P                25        3.85
3PA               25        3.85
2PA               25        3.85
2P                25        3.85
PF                25        3.85
FT                25        3.85
FTA               25        3.85
ORB               25        3.85
DRB               25        3.85
TRB               25        3.85
AST               25        3.85
STL               25        3.85
BLK               25        3.85
TOV               25        3.85
Player            25        3.85

In [12]:
basketballData.fillna(0, inplace=True)

basketballData.describe()

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000
mean,25.701923,36.395832,16.780449,825.011230,138.200317,301.687500,0.429601,41.519230,116.504807,0.287535,96.681091,185.182693,0.489625,0.491652,59.626602,77.464745,0.695384,34.540066,118.866989,153.407059,81.809296,26.330128,17.044872,47.256409,70.724358,377.546478
std,3.993686,21.109627,21.760805,662.207764,137.245895,293.415131,0.133061,48.617638,128.255295,0.154832,105.902565,198.360733,0.156253,0.139140,77.377075,96.463493,0.236504,40.376167,115.008049,150.288437,99.655136,24.446890,22.133446,48.866539,54.417984,381.948334
min,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,15.000000,0.000000,222.000000,26.000000,59.750000,0.391750,3.000000,12.750000,0.231000,16.000000,32.000000,0.447750,0.469000,8.000000,11.000000,0.637750,7.000000,28.000000,37.750000,13.000000,6.000000,3.000000,10.000000,21.000000,69.750000
50%,25.000000,40.000000,4.000000,733.000000,94.500000,215.500000,0.435000,23.000000,71.500000,0.333000,58.000000,115.500000,0.506500,0.517000,32.000000,44.000000,0.757500,22.000000,90.000000,110.500000,48.000000,20.000000,9.000000,35.000000,65.000000,248.500000
75%,28.000000,56.000000,30.250000,1394.250000,213.250000,472.250000,0.485250,65.000000,185.500000,0.377250,150.250000,278.000000,0.565000,0.556000,76.000000,101.250000,0.833000,48.250000,182.250000,231.500000,107.000000,42.000000,22.000000,68.250000,112.250000,579.250000
max,43.000000,66.000000,65.000000,2243.000000,623.000000,1386.000000,1.000000,271.000000,769.000000,1.000000,540.000000,998.000000,1.000000,1.167000,619.000000,719.000000,1.000000,250.000000,653.000000,869.000000,636.000000,115.000000,187.000000,289.000000,246.000000,2096.000000

In [13]:
basketballData.loc[basketballData['Player']=='Clint Capela']

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
104,Clint Capela,C,25.0,HOU,39.0,39.0,1279.0,244.0,388.0,0.629,0.0,0.0,0.0,244.0,388.0,0.629,0.629,55.0,104.0,0.529,168.0,369.0,537.0,48.0,33.0,72.0,63.0,102.0,543.0

In [14]:
#drop duplicate players and keep last stat (most recent team)

basketballData.drop_duplicates(subset='Player', keep='last', inplace=True)

In [15]:
#have to resent indices
basketballData.index = range(0, len(basketballData))

In [16]:
for i in range(len(basketballData['Pos'])):
    basketballData['Pos'][i] = basketballData['Pos'][i][0:2]

/Users/kushgulati/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Adding data analysis

Looking at the above percentages and players, it's pretty clear that True Shooting Percentage isn't too accurate. It doesn't take into account whether the player sets up their own shot or depends on assists from others. Let's try doing another metric called the Player Efficiency Rating (PER) and graph it to see what happens

In [17]:
playersTS = basketballData['PTS'] / (2 * ( basketballData['FGA'] + 0.44*basketballData['FTA'] ))

basketballData['TS%'] =  playersTS.round(decimals=2)

In [18]:
PER_coeff = {
    "FG": 85.910,
    "STL": 53.897,
    "3P": 51.757,
    "FT": 46.845,
    "BLK": 39.190,
    "ORB": 39.190,
    "AST": 34.677,
    "DRB": 14.707,
    "PF": -17.174,
    "FTmiss": -20.091,
    "FGmiss": -39.190,
    "TOV": -53.897
}

playerER = (
    basketballData["FG"]*PER_coeff["FG"] + 
    basketballData["STL"]*PER_coeff["STL"] + 
    basketballData["3P"]*PER_coeff["3P"] + 
    basketballData["BLK"]*PER_coeff["BLK"] + 
    basketballData["ORB"]*PER_coeff["ORB"] + 
    basketballData["AST"]*PER_coeff["AST"] + 
    basketballData["DRB"]*PER_coeff["DRB"] + 
    basketballData["PF"]*PER_coeff["PF"] + 
    (basketballData["FGA"]-basketballData["FG"])*PER_coeff["FGmiss"] + 
    (basketballData["FTA"]-basketballData["FT"])*PER_coeff["FTmiss"] + 
    basketballData["TOV"]*PER_coeff["TOV"]
)

playerER *= (1 / basketballData["MP"])

playerER = playerER.round(decimals=2)

basketballData['PER'] = playerER

Let's try 2 more metrics now, Value added (VA) and Estimated wins added (EWA)

In [19]:
VA_coeff = {
    'PF':11.5,
    'PG':11.0,
    'C':10.6,
    'SF':10.5,
    'SG':10.5
}

PRL = [ VA_coeff[pos] for pos in basketballData['Pos']]

playerVA = (basketballData['MP'] * (basketballData['PER'] - PRL)) / 67
playerVA = playerVA.round(decimals=2)

playerEWA = playerVA/30
playerEWA = playerEWA.round(decimals=1)

basketballData['VA'] = playerVA
basketballData['EWA'] = playerEWA

Adding Advanced Metrics to the Dataset

In [24]:
advanced = pd.read_csv('/Users/kushgulati/Desktop/NBAanalysis/data/advanced.csv')
advanced.head()

,Rk,Player,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Steven Adams\adamsst01,14.1,17.2,3.7,2.5,6.2,0.190,2.1,1.1,3.2,2.0
1,2,Bam Adebayo\adebaba01,17.5,20.8,4.6,3.6,8.1,0.175,1.6,2.1,3.6,3.2
2,3,LaMarcus Aldridge\aldrila01,7.8,23.6,3.1,1.4,4.4,0.122,1.8,-0.5,1.3,1.5
3,4,Nickeil Alexander-Walker\alexani01,14.3,22.8,-0.7,0.4,-0.4,-0.034,-3.5,-1.4,-4.9,-0.4
4,5,Grayson Allen\allengr01,10.7,17.9,0.5,0.3,0.7,0.070,-1.0,-1.5,-2.6,-0.1

Now that the data set is complete, we can export it as a CSV to be used in our model file

In [ ]:
out_filename = "NBAplayerTotals"+str(year)+".csv"

basketballData.to_csv(out_filename, index=False, header=True)